<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SecondKadaiApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F29894A81E3A28A300F8674D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F29894BC1E3A28A400F8674D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F29894C71E3A28A400F8674D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
